@media only screen and (max-width: 480px){
    .sm-0 {
        /* no imprimirá nada con la clase .sm-0 si el anchho de la pantalla es menor a 480px */
        display: none;
     }
}
@media only screen and (min-width: 481px){
    .med-1 {
        /* todo de clase.med-1 obtendrá el 25% del ancho disponible, si el ancho de la pantalla es mayor a 480px */
        width: 25%;
    }
}

.img-slide{
    height: 200px;
    width: 600px;
    background-color: orange;
    overflow: hidden;
    background-image: url("./perrito2.avif");
    background-size: cover;
    background-position: center;
}

.img-slide > img{
    width: 100%;
    height: 100%;
}