@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@400;900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans Lao', sans-serif;
}

.main {
    padding: 0px 20%;
    box-sizing: border-box;
}

.topBar {
    background-color: rgb(60, 60, 60);
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
}

.searchBar {
    background-color: orange;
    height: 124px;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.content {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
}

.mainCol {
    background-color: lightgrey;
    flex: 3;
    padding: 16px;
    box-sizing: border-box;
    height: fit-content;
}

.sideCol {
    flex: 2;
    padding: 16px;
    box-sizing: border-box;
}

.topBar h1 span {
    color: orange;
}

.topBar h1 {
    color: white;
}

#joinButton {
    background-color: orange;
    color: black;
    width: 60px;
    height: 30px;
    font-weight: bolder;
    box-shadow: 4px 4px black;
    margin-right: 8px;
    border: 2px solid black;
}

#loginButton {
    background-color: dodgerblue;
    color: white;
    width: 60px;
    height: 30px;
    font-weight: bolder;
    box-shadow: 4px 4px black;
    border: 2px solid black;
}

.category {
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category>img {
    width: 80%;
    background-color: white;
    border-radius: 50%;
    padding: 2px;
}

.searchBar form {
    display: flex;
}

.searchBar form button {
    background-color: dodgerblue;
    color: white;
    width: 30px;
    font-weight: bolder;
    box-shadow: 2px 2px black;
    border: 2px solid black;
}

.searchBar form input {
    border: 2px solid black;
    padding-left: 4px;
    box-sizing: border-box;
}

.img100 {
    width: 100%;
}

.my-8{
    margin-top: 8px;
    margin-bottom: 8px;
}

.centerText{
    text-align: center;
    color:dodgerblue;
    font-weight: 900;
}

#infoRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.likeBar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.likeBar img{
    height: 24px;
    margin-right: 8px;
}

.centerLink{
    text-align: center;
}
